<div class="row" style="padding-left: 10%; padding-right: 10%;">
    <div class="col-sm-8" style="padding-top: 100px;" >
        <div id="fadeUpHeader" style="padding-top: 50px; position: relative; opacity: 0;">
            <H1>My Vision.</H1>
        </div>
        <div id="fadeUpContent" style="padding-top: 60px; position: relative; opacity: 0;">
            <p>Ben is a passionate programmer who can work with your team to help you ship products faster, scale your team and grow your business.</p>
        </div>
    </div>
    <div class="col-sm-4">
        <img class="img-fluid" id="image1" alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg">
    </div>
    
</div>
