#image1{
  width: 100%;
}

p{
  color:rgba(0, 0, 0, 0.7);
  line-height: 40px;
  font-size: 20px;
  line-height: 48px;
}

.section{
  border-top: 1px solid #979797;
}

.home-section-header {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .home-section-header .left,
  .home-section-header .right {
  border-top: 1px solid #979797;
  width: calc(50% - 300px);
  transition: 1s;
}
.home-section-header .header h2 {
  width: 100%;
  min-width: 550px;
  margin: 0;
  font-size: 25px;
  letter-spacing: 0.24px;
  text-align: center;
  color: #4a4a4a;
}

.wrapper{
  padding: 15px;
  margin: 0px 20px;
  min-height: 352px;
  height: 100%;
  --box-shadow-color: #d2d2d2;
  box-shadow: 0 3px 7px 2px var(--box-shadow-color);
}
.icon{
  width: 150px;
  margin: auto;
}
.reason{
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}
.center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.icon-with-desc{
  display: inline-block;
}
.wrapper2{
  padding: 0px 20px;
  text-align: center;
}
.paragraph {
  padding-top: 10px;
  line-height: 30px;
  letter-spacing: 0.16px;
  font-size: 14px;
  width: 250px;
  margin: auto;
}