<div style="border: 1px solid #d8d8d8;margin-left: 15%;margin-right: 15%; background-color: rgba(255, 255, 255, 0.95)">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
      <p class="h4 mb-4">Inquiries</p>

      <div class="form-row mb-4">
          <div class="col">
              <input type="text" formControlName="company" id="defaultRegisterFormFirstName" class="form-control" placeholder="Company">
          </div>
          <div class="col">
              <input type="email" formControlName="email" id="defaultRegisterFormLastName" class="form-control" placeholder="email">
          </div>
      </div>

      <input type="text" formControlName="url" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Link To the Job Page">
      

      <button class="btn btn-info my-4 btn-block" type="submit">Send</button>

    </form>
</div>