.invalid{
    border: 1px solid #a94442; /* red */
} 
.bg {
    background: url('/assets/img/login.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center {
    position: absolute;
    left: 0;
    top: 18%;
    width: 100%;
}